.about-us {
    background-image: url("../images/backwithlogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    margin-top: -22px;
    padding: 25px 20px;
    min-height: 80vh;
}
.about-us h1 {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about-us p {
    font-family: ubuntu;
}
@media only screen and (max-width: 768px) {
    .about-us {
      background-image: url("../images/background.jpg");
    }
}