.about-us {
    color: #ffffff;
    margin-top: -22px;
    padding: 25px 20px;
    min-height: 80vh;
}
.about-us h1 {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about-us p {
    font-family: ubuntu;
}