.contact {
    background-image: url("../images/backwithlogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    margin-top: -22px;
    padding: 25px 20px;
    min-height: 80vh;
}
.contact h1 {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.wrapper-form-top {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.wrapper-form-top input, textarea {
    border: none;
    background: none;
    color: #444c44;
}
.contact textarea {
    margin-bottom: 20px;
}
textarea::placeholder, input::placeholder{
    color: #444c44;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}
textarea {
    resize: none;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
    border-radius: 3px;
    min-height: 200px;
    background: rgba(0,0,0,0.7);
}
.input{
    position: relative;
    width: 90%;
    margin: 15px;
}
.input:after{
    display: inline-block;
    content: "";
    border-top: .1rem solid #444c44;
    width: 14rem;
    transform: translate(-4px, -50%);
    position: absolute;
    right: 0;
    bottom: -8px;
}
.input span{
    position: absolute;
    display: block;
    color: darken(#EDEDED, 10%);
    left: 10px;
    top: 2px;
    color: #444c44;
    font-size: 20px;
}
input{
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: darken(#EDEDED, 30%);
}
input:focus{
    padding: 10px 5px 10px 10px;
    outline: 0;
    border-color: #FF7052;
}
.button-wrapper button {
    border: 1px solid;
    padding: 10px;
    border-radius: 3px;
    background: rgba(0,0,0,0.7);
    color: #444c44;
    cursor: pointer;
    width: 100%;
}
.name {
    margin-left: 0!important;
}
.email {
    margin-right: 0!important;
}
@media only screen and (max-width: 550px) {
    .wrapper-form-top {
        flex-direction: column;
    }
    .input:after {
        width: unset;
    }
    .email {
        margin-left: 0!important;
    }
}
@media only screen and (max-width: 768px) {
    .contact {
        background-image: url("../images/background.jpg");
    }
}