nav {
    display: flex;
    justify-content: center;
    color: #ffffff;;
    align-items: center;
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li {
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
nav ul li a:hover {
    color: #444c44;;
}
.nav-logo {
    max-width: 80px;
    padding: 0 25px;
}
.nav-logo img {
    width: 100%;
}
.box-shadow {
    position: relative;
    box-shadow: 0px -3px 26px -12px rgba(255, 255, 255, 1);
    background-color: #000000;
    z-index: 9;
    transition: all 0.5s ease-in-out;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1!important;
    visibility: visible!important;
    animation-name: animation;
    animation-duration: 0.6s;
}
.padding-body {
    padding-top: 82px;
}
.desktop-nav {
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.nav-logo-mobile {
    max-width: 80px;
    padding-left: 10px;
}
.nav-logo-mobile img {
    width: 100%;
}
.mobile-nav {
    display: none;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-right: 10px;
}
.burger {
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 10;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.nav-mobile-list {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.8);
    z-index: 9;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.show-mobile-nav {
    transform: translateX(0);
    opacity: 1;
}
.nav-mobile-list ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.nav-mobile-list ul li {
    margin: 10px 0;
}
.credit-cards {
    display: flex;
    font-family: "ubuntu"
}
.credit-cards .icon-wrapper {
    display: flex;
    align-items: center;
    margin: 10px;
}
.icon-wrapper i {
    margin-right: 5px;

}
@media only screen and (max-width: 893px) {
    nav ul li{
        margin: 0 8px!important;
    }
}
@media only screen and (max-width: 768px) {
    .desktop-nav {
        display: none
    }
    .mobile-nav {
        display: flex!important;
    }
    .footer-text {
        padding: 0 20px;
    }
    .credit-cards {
        display: flex;
        flex-direction: column;
    }
}

@keyframes animation {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}