.banner-wrapper {
    width: 100%;
    position: relative;
    background: #0a0a0a;
}
.banner-wrapper img {
    width: 100%;
}
.banner-text-wrapper {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-8%, -50%);
}
.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
}
@media only screen and (max-width: 550px) and (min-width: 320px)  {
    .banner-wrapper {
        height: 30vh;
    }
    .banner-wrapper img {
        height: 100%;
    }
}