.banner-wrapper {
    width: 100%;
    position: relative;
    background: #0a0a0a;
}
.banner-wrapper img {
    width: 100%;
}
.banner-text-wrapper {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-8%, -50%);
}
.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
}
.button-wrapper {
    min-width: 200px;
    margin: 30px;
}
.button-wrapper button {
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    font-family: levijatan;
    letter-spacing: 3px;
}
.button-wrapper button:hover {
    background: rgba(255,255,255, 0.7);
}
.modal-wrapper {
    text-align: center;
    padding: 0 20px;
}
.modal-wrapper p {
    font-family: ubuntu;
}
.modal-wrapper .button-wrapper button {
    color: #ffffff;
}
.modal-wrapper .button-wrapper button:hover {
    background: rgba(0, 0, 0, 0.9);
}
.modal-wrapper .credit-cards {
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 550px) and (min-width: 320px)  {
    .banner-wrapper {
        height: 30vh;
    }
    .banner-wrapper img {
        height: 100%;
    }
}