.title h1 {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.membership-page-wrapper {
    background-image: url("../images/backwithlogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    margin-top: -22px;
    padding: 25px 20px;
    min-height: 80vh;
}
.content-wrapper p {
    font-family: ubuntu;
}
.card .card-image img {
    width: 100%;
}
.card .card-image {
    max-width: 600px;
}
.desc-payment {
    margin-top: 50px;
    font-weight: bold;
}
.content-wrapper {
    max-width: 900px;
}
.card {
    margin-top: 70px;
}
@media only screen and (max-width: 768px) {
    .membership-page-wrapper {
      background-image: url("../images/background.jpg");
    }
}