.video-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-video {
    width: 30%;
    text-align: left;
    margin-bottom: 25px;
}
.single-video h3 {
    margin-top: 20px!important;
    padding-left: 10px;
    text-transform: uppercase;
}
.single-video p {
    padding: 0 10px;
}
.title h1 {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.videos-page-wrapper {
    background-image: url("../images/backwithlogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    margin-top: -22px;
    padding: 25px 20px;
    min-height: 80vh;
}

.video-wrapper div {
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'ubuntu';
    margin-top: 20px;
}
.video-wrapper span {
    font-size: 2rem;
}
@media only screen and (max-width: 768px) {
    .video-wrapper {
        flex-direction: column;
    }
    .single-video {
        width: 100%;
    }
    .videos-page-wrapper {
        background-image: url("../images/background.jpg");
    }
}