.virtual-foster {
  background-image: url("../images/backwithlogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
  margin-top: -22px;
  padding: 25px 20px;
  min-height: 80vh;
}
.virtual-foster p {
  font-family: ubuntu;
}
.paragraf {
  width: 60%;
  margin: auto;
}
.bold-text {
  font-weight: 900;
}
.expand {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.virtual-foster .fa {
  margin-left: 10px;
}
.expand {
  color: blue;
}
#spring-modal-description ul {
  list-style: none;
}
